.add-part {
  @media (min-width: $desktop-width) {
    @include reset-list();
    display: flex;
    flex-wrap: wrap;
  }
}

.add-part__item {
  @media (min-width: $desktop-width) {
    padding-right: 27px;
    padding-left: 35px;
    cursor: pointer;
  }

  &:first-child {
    @media (min-width: $desktop-width) {
      padding-left: 0;
    }
  }
}

.add-part__link {
  @media (min-width: $desktop-width) {
    @include reset-style-link();
    @include font-heading($font-size--small, $line-height--basic);
    display: block;
    padding-top: 20px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
