.button {
  @include reset-indent();
  @include font-heading($font-size--middle, $line-height--petty, $basic-dark);
  display: inline-block;
  min-width: 175px;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: $basic-white;
  border: 2px solid $basic-dark;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $basic-dark;
    color: $basic-white;
  }

  &:active {
    color: $basic-white-30a;
  }

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--basic, $line-height--petty, $basic-dark);
  }
}
