.catalog__list {
  @include reset-list();
  padding-top: 30px;
  padding-bottom: -30px;

  @media (min-width: $tablet-width) {
    padding-top: 95px;
    padding-bottom: -54px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: -57px;
    margin-left: -25px;
    margin-right: -25px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 57px;
  }
}

