.catalog__list {
  @include reset-list();
  padding-top: 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
  }
}

.catalog__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
    margin-right: 51px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
