.color-product {
  @media (min-width: $tablet-width) {
    background-color: $basic-light;
  }
}

.color-product__wrapper {
  @include site-container();
  @include site-padding();
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: $padding-left--tablet 1fr;
    margin-bottom: 27px;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: $padding-left--desktop 1fr;
    margin-bottom: 30px;
  }
}

.color-product__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.color-product__item {
  position: relative;
  min-height: 40px;
  margin-top: 13px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 40%;
    margin-top: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    margin-bottom: 20px;
  }
}

.color-product__item:nth-child(odd) {
  @media (min-width: $tablet-width) {
    width: 52%;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
  }
}

.color-product__checkbox + .color-product__title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 38px;
  width: 38px;
  border: 2px solid $basic-black;

  @media (min-width: $tablet-width) {
    height: 52px;
    width: 52px;
  }
}

.color-product__checkbox:checked + .color-product__title::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 7px;
  height: 16px;
  width: 23px;
  background-image: url("../img/icons/icon-tick.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: 10px;
    height: 33px;
    width: 33px;
    background-size: 33px 33px;
  }

  @media (min-width: $desktop-width) {
    height: 30px;
    width: 40px;
  }
}

.color-product__checkbox:hover + .color-product__title::before,
.color-product__checkbox:focus + .color-product__title::before {
  border-color: $accent-ultra-light;
}

.color-product__checkbox:active + .color-product__title::before {
  border-color: $basic-black-30a;
}

.color-product__title {
  @include font-form($font-size--basic);
  display: block;
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 12px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include font-form();
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 19px;
  }
}
