.contacts {
  padding-top: 38px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 57px;
  }
}

.contacts__container {
  @media (min-width: $desktop-width) {
    @include site-wrapper();
    @include site-container();
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    max-width: 50%;
  }
}

.contacts__title {
  @include reset-indent();
  @include site-wrapper();
  @include font-heading();
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--huge, $line-height--big);
    position: relative;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    @include font-heading($font-size--gigant, $line-height--huge);
    @include grid-padding-desktop();
    padding-top: 80px;
    padding-bottom: 35px;
    padding-right: 40px;
  }
}

.contacts__title::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 47px;
    height: 81px;
    top: 0;
    right: 50px;
    background-image: url("../../img/flag.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    top: 80px;
    right: 0;
    left: 50px;
  }
}

.contacts__list {
  @include reset-list();
  @include site-wrapper();
  @include font-basic($font-size--little, $line-height--large);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 62px;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    max-width: 100%;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    @include grid-padding-desktop();
    padding-right: 0;
    max-width: 300px;
    margin-bottom: 20px;
  }
}

.contacts__item {
  min-width: 60px;
  max-width: 30%;
  padding-right: 10px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-right: 25px;
  }
}

.contacts__subitem {
  @include reset-indent();
  min-width: 183px;
  max-width: 65%;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.contacts__link {
  @include font-basic($font-size--little, $line-height--large);
  text-decoration: none;
}

.contacts__map {
  @include reset-indent();
  @include image-basic();
  margin-bottom: 41px;
  width: 100%;
  height: 454px;
  background-image: url("../../img/map/map-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    background-image: url("../img/map/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    max-width: 50%;
    width: 527;
    height: 457px;
    background-image: url("../img/map/map-desktop.jpg");
  }
}

.contacts__iframe {
  display: block;
  border: none;
  width: 100%;
}

.contacts__inner {
  @include site-wrapper();
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: 15%;
  }
}
