.contacts {
  padding-top: 40px;
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 105px;
  }
}

.contacts__container {
  @include site-container();

  @media (min-width: $desktop-width) {
    @include site-padding();
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

.contacts__wrapper {
  @include site-padding();

  @media (min-width: $desktop-width) {
    @include grid-padding-desktop();
    position: relative;
    padding-top: 80px;
  }
}

.contacts__title {
  @include reset-indent();
  @include font-heading();
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--huge, $line-height--big);
    position: relative;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    @include font-heading($font-size--gigant, $line-height--huge);
    padding-bottom: 35px;
  }
}

.contacts__title::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 47px;
    height: 81px;
    top: -22px;
    right: 3px;
    background-image: url("../img/icons/flag.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    top: -18px;
    left: -112px;
  }
}

.contacts__list {
  @include reset-list();
  @include font-basic($font-size--little, $line-height--large);
  display: grid;
  grid-template-columns: 77px 1fr;
  row-gap: 30px;
  margin-bottom: 62px;

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--basic, $line-height--large);
    grid-template-columns: 77px 1fr 77px 1fr;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 77px 1fr;
  }
}

.contacts__item {
  padding-right: 5px;
}

.contacts__subitem {
  @include reset-indent();
}

.contacts__link {
  @include font-basic($font-size--little, $line-height--large);
  @include reset-style-link();
  position: relative;
  display: inline-block;
  vertical-align: top;

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--basic, $line-height--large);
  }
}

.contacts__link::after {
  position: absolute;
  content: "";
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $accent-ultra-light;

  @media (min-width: $tablet-width) {
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: -4px;
  }
}

.contacts__link:hover,
.contacts__link:focus {
  color: $accent-dark;
}

.contacts__link:hover::after,
.contacts__link:focus::after {
  background-color: $accent-dark;
}

.contacts__link:active::after {
  background-color: $accent-dark-10a;
}

.contacts__map {
  @include reset-indent();
  margin-bottom: 43px;
  width: 100%;
  height: 454px;
  background-image: url("../img/map/map-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    height: 457px;
    margin-bottom: 55px;
    background-image: url("../img/map/map-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    margin-bottom: 0;
    background-image: url("../img/map/map-desktop.jpg");
  }
}

.contacts__iframe {
  display: block;
  border: none;
  width: 100%;
}

.contacts__inner {
  @include site-padding();
  @include site-container();
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
    left: $inner-padding--big;
  }
}

.contacts__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 230px;
    max-width: 400px;
  }
}
