.features {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 55px;
    border-image: url("../../img/zigzag-line.svg");
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
  }
}

.features__wrapper {
  @include site-wrapper();
  @include site-container();
}

.features__title {
  @include reset-indent();
  @include font-heading();
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--huge, $line-height--big);
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    @include font-heading($font-size--gigant, $line-height--huge);
    @include grid-padding-desktop();
  }
}

.features__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    @include grid-padding-desktop();
  }
}

.features__item {
  @include font-heading($font-size--basic, $line-height--middle);
  position: relative;
  max-width: 260px;
  padding-top: 60px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--large, $line-height--modarate);
    min-width: 320px;
    width: 50%;
    padding-bottom: 60px;
    padding-right: 27px;
  }
}

.features__item::before {
  position: absolute;
  top: 15px;
  left: 0;
  width: 34px;
  height: 27px;
  content: "";
}

.features__item--flower {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.features__item--flower::before {
  width: 33px;
  height: 38px;
  background-image: url("../../img/features/flower.svg");
  background-repeat: no-repeat;
}

.features__item--banknote {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.features__item--banknote::before {
  width: 47px;
  height: 27px;
  background-image: url("../../img/features/banknote.svg");
  background-repeat: no-repeat;
}

.features__item--heart {
  @media (min-width: $tablet-width) {
    order: 5;
  }
}

.features__item--heart::before {
  background-image: url("../../img/features/heart.svg");
  background-repeat: no-repeat;
}

.features__item--skein {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.features__item--skein::before {
  width: 35px;
  height: 34px;
  background-image: url("../../img/features/skein.svg");
  background-repeat: no-repeat;
}

.features__item--rocket {
  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.features__item--rocket::before {
  width: 55px;
  height: 23px;
  background-image: url("../../img/features/rocket.svg");
  background-repeat: no-repeat;
}

.features__item--gift {
  @media (min-width: $tablet-width) {
    order: 6;
  }
}

.features__item--gift::before {
  width: 33px;
  height: 32px;
  background-image: url("../../img/features/gift.svg");
  background-repeat: no-repeat;
}
