.features {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 25px;
  }
}

.features__wrapper {
  @include site-padding();
  @include site-container();
}

.features__title {
  @include reset-indent();
  @include font-heading();
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--huge, $line-height--big);
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    @include font-heading($font-size--gigant, $line-height--huge);
    @include grid-padding-desktop();
    padding-bottom: 45px;
  }
}

.features__list {
  @include reset-list();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    @include grid-padding-desktop();
  }
}

.features__item {
  @include font-heading($font-size--basic, $line-height--middle);
  position: relative;
  padding-top: 53px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--large, $line-height--modarate);
    width: 50%;
    padding-top: 52px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }
}

.features__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 34px;
  height: 27px;
}

.features__item--flower {
  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.features__item--flower::before {
  width: 33px;
  height: 38px;
  top: -3px;
  left: 7px;
  background-image: url("../img/features/flower.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: -5px;
  }
}

.features__item--banknote {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $tablet-width) {
    margin-top: -2px;
  }
}

.features__item--banknote::before {
  width: 47px;
  height: 27px;
  background-image: url("../img/features/banknote.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: -4px;
  }
}

.features__item--heart {
  @media (min-width: $tablet-width) {
    order: 5;
    margin-top: -2px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -3px;
  }
}

.features__item--heart::before {
  top: 3px;
  left: 7px;
  background-image: url("../img/features/heart.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 8px;
  }

  @media (min-width: $desktop-width) {
    top: 1px;
  }
}

.features__item--skein {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.features__item--skein::before {
  left: 2px;
  width: 35px;
  height: 34px;
  background-image: url("../img/features/skein.svg");
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    top: -1px;
  }
}

.features__item--rocket {
  @media (min-width: $tablet-width) {
    top: -2px;
    order: 4;
  }
}

.features__item--rocket::before {
  top: 1px;
  left: -6px;
  width: 55px;
  height: 23px;
  background-image: url("../img/features/rocket.svg");
  background-repeat: no-repeat;
}

.features__item--gift {
  @media (min-width: $tablet-width) {
    top: -3px;
    order: 6;
  }
}

.features__item--gift::before {
  top: 0;
  left: 3px;
  width: 33px;
  height: 32px;
  background-image: url("../img/features/gift.svg");
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    top: -2px;
  }
}

.features__text {
  width: 200px;

  @media (min-width: $tablet-width) {
    width: 250px;
  }
}

.features__text__flower {
  width: 195px;

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}

.features__text--skein,
.features__text--rocket,
.features__text--gift {
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 320px;
  }
}
