.footer-logo {
  cursor: pointer;
}

.footer--logo__link {
  display: block;
}

.footer-logo__img {
  width: 102px;
  height: 34px;
  fill: $basic-black;

  &:hover,
  &:focus {
    fill: $accent-dark;
  }

  &:active {
    fill: $accent-dark-30a;
  }
}
