.logo-header {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto;
  margin-top: 22px;
  z-index: 1;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-self: start;
    width: 113px;
    height: 46px;
    margin: 0;
    margin-top: 22px;
    margin-left: -1px;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
    width: 149px;
    height: 72px;
    margin-top: 9px;
  }
}

.logo-header__img {
  display: block;
  width: 86px;
  height: 35px;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}
