.main-navigation {
  display: grid;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    @include site-padding();
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(89px, 1fr) max-content;
    justify-items: end;
    padding-top: 0;
  }
}

.main-navigation__list,
.main-navigation__user-list {
  @include reset-list();
  display: block;
  z-index: 1;

  @media (max-width: $mobile-width-only) {
    display: none;
    width: 100%;
    background-color: $basic-white;
  }
}

.main-navigation__list {
  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: start;
    align-self: end;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 0;
  }
}

.main-navigation__list .main-navigation__item {
  @media (min-width: $tablet-width) {
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    border-left: 1px solid $basic-ultra-light;

    &:first-child {
      margin-left: -35px;
      border-left: 0;
    }
  }
}

.main-navigation__list .main-navigation__link {
  @media (min-width: $tablet-width) {
    @include font-heading($font-size--small, $line-height--basic);
  }

  @media (min-width: $desktop-width) {
    @include font-heading($font-size--basic, $line-height--basic);
    padding-right: 35px;
    padding-left: 35px;
  }
}

.main-navigation__user-list {
  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: center;
    justify-self: end;
    display: flex;
    flex-wrap: wrap;
    min-height: 88px;
    max-width: 75%;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1/2;
    grid-row: 1/2;
  }
}

.main-navigation__list--open,
.main-navigation__user-list--open {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.main-navigation__item {
  cursor: pointer;

  @media (max-width: $mobile-width-only) {
    @include site-padding();
    border-bottom: 1px solid $basic-ultra-light;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-navigation__link {
  @include reset-style-link();
  @include font-heading($font-size--basic, $line-height--basic);
  display: block;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 20px;

  &:hover,
  &:focus {
    color: $basic-black-60a;
  }

  &:active {
    color: $basic-black-30a;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
    padding-bottom: 30px;
  }
}

.main-navigation__button {
  @include reset-indent();
  justify-self: end;
  margin-top: 4px;
  margin-bottom: 21px;
  margin-right: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__pic {
  width: 21px;
  height: 20px;
  fill: $basic-black;

  &:hover,
  &:focus {
    fill: $basic-black-60a;
  }

  &:active {
    fill: $basic-black-30a;
  }
}

.main-navigation__icon--close,
.main-navigation__button--open .main-navigation__icon--open {
  display: block;
}

.main-navigation__icon--open,
.main-navigation__button--open .main-navigation__icon--close {
  display: none;
}

.main-navigation__footnote {
  display: none;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: start;
    display: block;
    padding: 0;
    padding-top: 20px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    grid-row: 2/3;
  }
}

.main-navigation__add-part {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 1;
    justify-self: start;
  }
}

// .main-navigation--no-js {
//   @media (max-width: $mobile-width-only) {
//     display: block;
//     position: static;
//   }
// }
