.order-form {
  padding-top: 17px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.order-form__info {
  @include reset-indent();
  @include site-container();
  @include site-padding();
  @include font-basic($font-size--petty);
  min-width: 260px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--basic, $line-height--large);
    max-width: 800px;
    padding-bottom: 63px;
  }
}

.order-form__wrapper {
  @include reset-indent();
  border: none;
}

.order-form__title {
  @include font-accent();
  width: 100%;
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    padding-top: 17px;
    padding-bottom: 15px;
  }
}

.order-form__title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 50%;
  right: 0;
  background-color: $accent-ultra-light;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.order-form__subtitle {
  background-color: $basic-white;
  padding-right: 20px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding-left: 61px;
  }
}

.order-form input[type="text"],
.order-form input[type="phone"],
.order-form input[type="email"],
.order-form textarea {
  @include reset-indent();
  @include font-basic($font-size--basic, $line-height--small);
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 2px solid $basic-dark;

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--moderate, $line-height--small);
    padding-top: 13px;
    padding-bottom: 10px;
    padding-left: 18px;
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 11px;
  }
}

.order-form textarea {
  padding-left: 15px;
  padding-right: 15px;
  border-top: 2px solid $basic-dark;
  border-right: 2px solid $basic-dark;
  border-left: 2px solid $basic-dark;
}

.order-form input[type="text"]:hover,
.order-form input[type="text"]:focus,
.order-form input[type="phone"]:hover,
.order-form input[type="phone"]:focus,
.order-form input[type="email"]:hover,
.order-form input[type="email"]:focus {
  border-bottom-color: $accent-ultra-light;
}

.order-form__footer {
  @include site-container();
  @include site-padding();
  @include font-basic($font-size--little, $line-height--petty);

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--basic, $line-height--large);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 174px 1fr;
  }
}

.order-form__inner {
  @media (min-width: $tablet-width) {
    @include font-basic($font-size--basic, $line-height--large);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    padding-right: $padding-right--desktop;
  }
}

.order-form__footnote {
  @include reset-indent();
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 0;
  }
}

.order-form__icon-asterisk {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 15px;
    left: -10px;
  }
}

.order-form__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 230px;
    max-width: 350px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
