.page-header {
  min-height: 78px;
  border-bottom: 1px solid $basic-ultra-light;
}

.page-header__container {
  @include site-container();
  display: grid;
  grid-template-rows: minmax(78px, 1fr);
  position: relative;
  min-height: 78px;

  @media (min-width: $tablet-width) {
    @include site-padding();
    grid-template-rows: minmax(89px, 1fr);
    min-height: 89px;
  }
}
