.page-footer {
  padding-top: 25px;
  padding-bottom: 20px;
  background-color: $basic-light;
}

.page-footer__wrapper {
  padding-top: 25px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    background-color: #722020;
  }
}
