.page-footer {
  background-color: $basic-light;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.page-footer__item {
  width: 100%;
  border-bottom: 1px solid $basic-medium-light;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    width: 30%;
    border-bottom: none;
  }
}

.page-footer__item--logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
