.page-header {
  min-height: 79px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid $basic-ultra-light;

  @media (min-width: $desktop-width) {
    min-height: 99px;
  }
}

.page-header__container {
  @include site-container();
  @include site-padding();
  position: relative;
}
