.production__item {
  @include reset-indent();
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 16px;
  min-height: 45px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.production__text {
  @include font-heading($font-size--moderate, $line-height--small);
  display: block;
  padding-bottom: 5px;
  padding-right: 27px;
  align-self: center;

  @media (min-width: $desktop-width) {
    padding-right: 30px;
  }
}

.production__link {
  display: inline-block;
  vertical-align: end;
  justify-self: flex-end;
}

.production__logo {
  fill: $basic-accent;

  &:hover,
  &:focus {
    fill: $accent-dark;
  }

  &:active {
    fill: $accent-dark-30a;
  }

  @media (min-width: $desktop-width) {
    margin-top: 6px;
  }
}
