.product {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    min-height: 660px;
  }
}

.product__wrapper {
  @include reset-indent();
  display: block;
  position: relative;
  min-height: 195px;
  padding: 0 0 58% 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    min-height: 334px;
    flex: 1 1 50%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    min-height: 462px;
  }
}

.product__img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
}

.product__inner {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  padding: 0 28px;
  border: 1px solid $basic-ultra-light;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px $basic-ultra-light;
  }

  &:active {
    box-shadow: 0 3px 5px $basic-ultra-light;
  }

  @media (min-width: $tablet-width) {
    flex: 1 1 50%;
    padding: 0 33px;
    border: 1px solid $basic-ultra-light;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
  }
}

.product__link {
  @include reset-style-link();
}

.product__title {
  @include reset-indent();
  @include font-heading($font-size--basic, $line-height--basic);
  padding-top: 29px;
  padding-bottom: 5px;
  word-wrap: break-word;

  &:hover,
  &:focus {
    color: $basic-black-60a;
  }

  &:active {
    color: $basic-black-30a;
  }

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--large, $line-height--basic);
  }
}

.product__info {
  @include reset-list();
  max-width: 204px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    max-width: 255px;
  }
}

.product__option,
.product__value {
  @include reset-list();
  @include font-basic($font-size--petty, $line-height--large);
  display: inline-block;

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--small, $line-height--large);
  }
}

.product__box {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 23px;
  padding-bottom: 20px;
  border-top: 1px solid $basic-ultra-light;

  // @media (min-width: $tablet-width) {
  //   padding-top: 23px;
  // }
}

.product__price {
  @include reset-list();
  @include font-heading($font-size--small, $line-height--basic);

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--basic, $line-height--basic);
  }
}

.product__button {
  @include reset-indent();
  display: block;
  border: none;
  background-color: transparent;
  padding-bottom: 7px;
  padding-left: 5px;
}

.product__icon {
  width: 20px;
  height: 19px;
  fill: $basic-black-20a;

  &:hover,
  &:focus {
    fill: $basic-accent;
  }

  &:active {
    fill: $basic-accent-30a;
  }
}
