.product {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px $basic-ultra-light;
  }

  &:active {
    box-shadow: 0 3px 5px $basic-ultra-light;
  }
}

.product__wrapper {
  @include reset-indent();
  display: block;
  position: relative;
  min-height: 195px;
  padding: 0 0 58% 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    min-height: 334px;
    flex: 1 1 50%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 462px;
  }
}

.product__img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
}

.product__inner {
  display: flex;
  flex-direction: column;
  min-height: 180px;
  padding-top: 29px;
  padding-bottom: 20px;
  padding-right: 28px;
  padding-left: 28px;
  border: 1px solid $basic-ultra-light;

  @media (min-width: $tablet-width) {
    flex: 1 1 50%;
    min-height: 334px;
    padding-bottom: 23px;
    padding-right: 31px;
    padding-left: 31px;
    border: 1px solid $basic-ultra-light;
  }

  @media (min-width: $desktop-width) {
    min-height: 197px;
    width: 316px;
    padding-top: 26px;
    padding-right: 27px;
    padding-left: 27px;
  }
}

.product__link {
  @include reset-style-link();
}

.product__title {
  @include reset-indent();
  @include font-heading($font-size--basic, $line-height--basic);
  padding-bottom: 5px;
  word-wrap: break-word;

  &:hover,
  &:focus {
    color: $basic-black-60a;
  }

  &:active {
    color: $basic-black-30a;
  }

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--large, $line-height--basic);
    max-width: 230px;
  }
}

.product__info {
  @include reset-list();
  max-width: 204px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    max-width: 255px;
    padding-bottom: 0;
  }
}

.product__option,
.product__value {
  @include reset-list();
  @include font-basic($font-size--petty, $line-height--large);
  display: inline-block;
  padding-right: 4px;

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--small, $line-height--large);
  }
}

.product__box {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 23px;
  border-top: 1px solid $basic-ultra-light;

  @media (min-width: $desktop-width) {
    padding-top: 25px;
  }
}

.product__price {
  @include reset-list();
  @include font-heading($font-size--small, $line-height--basic);

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--basic, $line-height--basic);
  }
}

.product__button {
  @include reset-indent();
  display: block;
  border: none;
  background-color: transparent;
  padding-bottom: 7px;
  padding-left: 5px;
  margin-right: -3px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    padding-right: 5px;
  }
}

.product__icon {
  width: 20px;
  height: 19px;
  fill: $basic-black-20a;

  &:hover,
  &:focus {
    fill: $basic-accent;
  }

  &:active {
    fill: $basic-accent-30a;
  }
}

// .product {
//   display: flex;
//   flex-direction: column;

//   @media (min-width: $tablet-width) {
//     flex-direction: row;
//   }

//   @media (min-width: $desktop-width) {
//     flex-direction: column;
//     width: 316px;
//   }
// }

// .product__wrapper {
//   @include reset-indent();
//   display: block;
//   position: relative;
//   min-height: 195px;
//   padding: 0 0 58% 0;
//   overflow: hidden;

//   @media (min-width: $tablet-width) {
//     min-height: 334px;
//     flex: 1 1 50%;
//     padding: 0;
//   }

//   @media (min-width: $desktop-width) {
//     width: 316px;
//     min-height: 462px;
//   }
// }

// .product__img {
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   object-position: center;
//   top: 0;
//   left: 0;
// }

// .product__inner {
//   display: flex;
//   flex-direction: column;
//   min-height: 180px;
//   padding: 0 28px;
//   border: 1px solid $basic-ultra-light;

//   &:hover,
//   &:focus {
//     box-shadow: 0 6px 10px $basic-ultra-light;
//   }

//   &:active {
//     box-shadow: 0 3px 5px $basic-ultra-light;
//   }

//   @media (min-width: $tablet-width) {
//     min-height: 334px;
//     flex: 1 1 50%;
//     padding: 0 33px;
//     border: 1px solid $basic-ultra-light;
//   }

//   @media (min-width: $desktop-width) {
//     min-height: 197px;
//   }
// }

// .product__link {
//   @include reset-style-link();
// }

// .product__title {
//   @include reset-indent();
//   @include font-heading($font-size--basic, $line-height--basic);
//   padding-top: 29px;
//   padding-bottom: 5px;
//   word-wrap: break-word;

//   &:hover,
//   &:focus {
//     color: $basic-black-60a;
//   }

//   &:active {
//     color: $basic-black-30a;
//   }

//   @media (min-width: $tablet-width) {
//     @include font-heading($font-size--large, $line-height--basic);
//   }
// }

// .product__info {
//   @include reset-list();
//   max-width: 204px;
//   padding-bottom: 10px;

//   @media (min-width: $tablet-width) {
//     max-width: 255px;
//   }
// }

// .product__option,
// .product__value {
//   @include reset-list();
//   @include font-basic($font-size--petty, $line-height--large);
//   display: inline-block;
//   padding-right: 3px;

//   @media (min-width: $tablet-width) {
//     @include font-basic($font-size--small, $line-height--large);
//   }
// }

// .product__box {
//   display: flex;
//   justify-content: space-between;
//   margin-top: auto;
//   padding-top: 23px;
//   padding-bottom: 20px;
//   border-top: 1px solid #000999;
//   // border-top: 1px solid $basic-ultra-light;

//   // @media (min-width: $tablet-width) {
//   //   padding-top: 23px;
//   // }
// }

// .product__price {
//   @include reset-list();
//   @include font-heading($font-size--small, $line-height--basic);

//   @media (min-width: $tablet-width) {
//     @include font-heading($font-size--basic, $line-height--basic);
//   }
// }

// .product__button {
//   @include reset-indent();
//   display: block;
//   border: none;
//   background-color: transparent;
//   padding-bottom: 7px;
//   padding-left: 5px;
// }

// .product__icon {
//   width: 20px;
//   height: 19px;
//   fill: $basic-black-20a;

//   &:hover,
//   &:focus {
//     fill: $basic-accent;
//   }

//   &:active {
//     fill: $basic-accent-30a;
//   }
// }
