.promo {
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-position: 0 -20px;
  background-size: 100%;
  padding-top: 73px;


  @media (min-width: tablet-width) {
    padding-top: 155px;
  }
}

// .promo__wrapper {
//   @include site-wrapper;
//   flex: 1 1 auto;
// }

.promo__title {
  @include reset-indent();
  @include font-heading($font-size--super-big);
  @include site-container();
  @include site-wrapper();
  max-width: 400px;
  // padding-top: 73px;
  padding-bottom: 120px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--huge, $line-height--big);
    max-width: 650px;
    padding-bottom: 372px;
  }

  @media (min-width: $desktop-width) {
    @include font-heading($font-size--gigant, $line-height--huge);
    max-width: 750px;
    padding-bottom: 355px;
  }
}

.promo__offers {
  @media (min-width: $tablet-width) {
    @include site-container();
    @include site-wrapper();
    display: flex;
    justify-content: space-between;
  }
}

.promo__article,
.promo__toys {
  @include reset-decoration();
  @include font-heading($font-size--moderate, $line-height--basic, $basic-white);
  display: block;
  padding: 24px 30px 31px 30px;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--large, $line-height--large, $basic-white);
    width: 50%;
    padding: 25px 36px 34px 36px;
  }
}

.promo__article {
  background-color: $basic-accent;
}

.promo__toys {
  background-color: $accent-medium;
}
