.reviews {
  padding-top: 30px;
}

.reviews__container {
  @include site-container();

  @media (min-width: $desktop-width) {
    @include site-padding();
  }
}

.reviews__wrapper {
  @include site-padding();
  position: relative;
  padding-bottom: 45px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 82px;
    padding-bottom: 85px;
    background-image: url("../img/reviews/review-tablet.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/reviews/review-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    @include grid-padding-desktop();
    padding-right: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/reviews/review-desktop@2x.jpg");
    }
  }
}

.reviews__wrapper::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: url("../img/zigzag-mobile.svg");
  background-repeat: repeat;

  @media (min-width: $tablet-width) {
    height: 17px;
    background-image: url("../img/zigzag-desktop.svg");
    background-position: 18px 0;
  }
}

.reviews__title {
  @include reset-indent();
  @include font-heading();
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--huge, $line-height--big);
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include font-heading($font-size--gigant, $line-height--huge);
    // padding-bottom: ;
  }
}

.reviews__list {
  @include reset-list();
}

.reviews__subitem {
  @include reset-indent();
}

.reviews__text {
  @include reset-indent();
  @include font-basic();
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--basic, $line-height--large);
    padding-top: 40px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
  }
}

.reviews__author {
  @include reset-indent();
  @include font-heading($font-size--basic, $line-height--basic);

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--middle, $line-height--basic);
  }

  @media (min-width: $desktop-width) {
    @include font-heading($font-size--basic, $line-height--basic);
  }
}

.reviews__link {
  @include reset-indent();
  @include font-basic($font-size--basic, $line-height--large);
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 96px;
  }
}

.reviews__slider {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 90px;
    right: 40px;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    bottom: 150px;
    right: -20px;
  }
}

.reviews__button {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    order: -2;
    align-self: center;
    width: 175px;
    max-width: 40%;
  }
}
