.search {
  display: block;

  @media (min-width: $tablet-width) {
    min-width: 83px;
    border-left: 1px solid $basic-ultra-light;
  }
}

.search__form {
  position: relative;
}

.search__button {
  @include reset-indent();
  position: absolute;
  top: 30px;
  left: 1px;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 0;
    left: -2px;
    padding-top: 35px;
    padding-bottom: 31px;
    padding-left: 35px;
    padding-right: 31px;
  }
}

.search__button:hover .search__icon,
.search__button:focus .search__icon {
  fill: $basic-accent;
}

.search__button:active .search__icon {
  fill: $basic-accent-30a;
}

.search__icon {
  width: 18px;
  height: 18px;
  fill: $basic-black-20a;
}

.search__title {
  @include reset-indent();
  @include font-heading($font-size--basic, $line-height--basic);
  display: block;
  padding-top: 27px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 20px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $basic-black-60a;
  }

  &:active {
    color: $basic-black-30a;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.search__title:hover + .search__button .search__icon,
.search__title:focus + .search__button .search__icon {
  fill: $basic-accent;
}

.search__title:active + .search__button .search__icon {
  fill: $basic-accent-30a;
}
