.slider {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 38px;
}

.slider__button {
  @include reset-indent();
  display: inline-block;
  width: 50%;
  height: 52px;
  font-size: 0;
  border: 1px solid $basic-ultra-light;
  background-color: $basic-white;
  background-image: url("../../img/btn-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.slider__button--next {
  margin-left: -1px;
  transform: rotate(180deg);
  background-position: center;
}
