.type-product__wrapper {
  @include site-container();
  @include site-padding();
  padding-bottom: 4px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: $padding-left--tablet 1fr;
    padding-bottom: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: $padding-left--desktop 1fr;
    margin-bottom: 22px;
  }
}

.type-product__item {
  @include reset-indent();
  position: relative;
  min-height: 40px;
  max-width: 355px;
  margin-bottom: 8px;
  user-select: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    min-height: 53px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.type-product__radio-box + .type-product__title::before {
  content: "";
  position: absolute;
  left: -1px;
  top: 4px;
  height: 41px;
  width: 41px;
  border: 2px solid $basic-black;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 2px;
    height: 50px;
    width: 50px;
  }

  @media (min-width: $desktop-width) {
    top: -2px;
    left: 0;
  }
}

.type-product__radio-box:checked + .type-product__title::after {
  position: absolute;
  content: "";
  top: 16px;
  left: 12px;
  height: 17px;
  width: 17px;
  background-color: $accent-ultra-light;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 15px;
    left: 17px;
    height: 20px;
    width: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 14px;
    left: 15px;
  }
}

.type-product__radio-box:hover + .type-product__title::before,
.type-product__radio-box:focus + .type-product__title::before {
  border-color: $accent-ultra-light;
}

.type-product__radio-box:active + .type-product__title::before {
  border-color: $basic-black-30a;
}

.type-product__title {
  @include font-form($font-size--basic);
  display: block;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 60px;
  padding-right: 12px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include font-form();
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 14px;
    padding-left: 80px;
  }
}
