.user-phone {
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    background-color: $basic-light;
  }
}

.user-phone__wrapper {
  @include site-container();
  @include site-padding();
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: $padding-left--tablet 1fr;
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: $padding-left--desktop 1fr;
    padding-top: 50px;
  }
}

.user-phone__item {
  @include reset-indent();
  position: relative;
  margin-top: -19px;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: $margin-right--desktop;
  }
}

.user-phone__item:hover .user-phone__icon,
.user-phone__item:focus .user-phone__icon,
.user-phone__item:active .user-phone__icon {
  fill: $accent-ultra-light;
}

.user-phone__text {
  @media (min-width: $tablet-width) {
    background-color: $basic-light;
  }
}

.user-phone__text::placeholder {
  text-transform: uppercase;
}

.user-phone__icon {
  position: absolute;
  content: "";
  bottom: 16px;
  right: 7px;
  width: 25;
  height: 24px;
  fill: $basic-black-20a;

  @media (min-width: $tablet-width) {
    bottom: 23px;
    right: 25px;
  }

  @media (min-width: $desktop-width) {
    bottom: 24px;
    right: 10px;
  }
}
