.user-info__wrapper {
  @include site-container();
  @include site-padding();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: $padding-left--tablet 1fr;
    padding-top: 50px;
    padding-bottom: 21px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: $padding-left--desktop 1fr;
    padding-top: 51px;
  }
}

.user-info__item {
  @include reset-indent();
  margin-top: 15px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-right: $margin-right--desktop;
  }
}

.user-info__title {
  @include font-form($font-size--basic);

  @media (min-width: $tablet-width) {
    @include font-form();
    margin-top: -5px;
    margin-right: 24px;
    align-self: center;
  }
}
