.user-phone {
  @media (min-width: $tablet-width) {
    background-color: $basic-light;
  }
}

.user-phone__wrapper {
  @include site-container();
  @include site-padding();
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: $padding-left--tablet 1fr;
    padding-top: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: $padding-left--desktop 1fr;
  }
}

.user-phone__item {
  @include reset-indent();
  margin-top: -6px;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    display: flex;
    margin-top: 0;
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-right: $padding-right--desktop;
  }
}

.user-phone__text {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    background-color: $basic-light;
  }
}

.user-phone__text::placeholder {
  text-transform: uppercase;
}
