.user-phone {
  @media (min-width: $tablet-width) {
    background-color: $basic-light;
  }
}

.user-phone__wrapper {
  @include site-container();
  @include site-wrapper();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 170px 1fr;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.user-phone__item {
  @include reset-indent();
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-right: 170px;
  }
}

.user-phone__text {
  @include reset-indent();
  border: none;
  border-bottom: 2px solid $basic-black;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: $basic-light;
  }
}
