.user-addition__wrapper {
  @include site-container();
  @include site-padding();
  padding-top: 20px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: $padding-left--tablet 1fr;
    padding-top: 54px;
    padding-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: $padding-left--desktop 1fr;
    padding-bottom: 42px;
  }
}

.user-addition__item {
  @include reset-indent();
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    margin-right: $margin-right--desktop;
  }
}

.user-addition__text {
  @include reset-indent();
  border: 2px solid $basic-black;
  min-height: 142px;
  min-width: 100%;
  resize: none;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}
