.video {
  margin-bottom: 58px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.video__container {
  border: 1px solid $basic-ultra-light;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px $basic-ultra-light;
  }

  &:active {
    box-shadow: 0 3px 5px $basic-ultra-light;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    border: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    position: relative;
    border: 1px solid $basic-ultra-light;
  }
}

.video__title {
  @include reset-indent();
  @include font-heading-basic($font-size--basic, $line-height--basic);
  position: relative;
  padding-top: 23px;
  padding-bottom: 26px;
  padding-left: 89px;
  padding-right: 30px;
  text-align: left;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 22px;
    top: 36%;
    left: 34px;
    background-image: url("../img/icons/icon-video.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    @include font-heading-basic($font-size--large, $line-height--basic);
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 40px;
    padding-left: 105px;
    border-right: 1px solid $basic-ultra-light;
    border-left: 1px solid $basic-ultra-light;
    border-top: 1px solid $basic-ultra-light;

    &::before {
      top: 43%;
      left: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    right: 106px;
    width: 180px;
    border: none;
    padding: 0;

    &::before {
      top: -50px;
      left: 0;
    }
  }
}

.video__wrapper {
  position: relative;
  min-height: 150px;
  // margin-bottom: 35px;
  padding: 0 0 58% 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    order: -1;
    height: 455px;
    margin-bottom: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
  }
}

.video__img {
  @include image-basic();
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
}

.video__button {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 0;
  width: 100px;
  height: 76px;
  border: none;
  border-radius: 19px 19px;
  background-color: $basic-white;
  background-image: url("../img/video-play.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.video__button:hover,
.video__button:focus {
  transform: scale(1.2) translate(-50%, -50%);
}

.video__button:active {
  transform: scale(0.8) translate(-50%, -50%);
  opacity: 0.3;
}

.video__inner {
  padding-top: 35px;
  padding-bottom: 33px;
  padding-left: 33px;
  padding-right: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 45px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid $basic-ultra-light;
    border-right: 1px solid $basic-ultra-light;
    border-left: 1px solid $basic-ultra-light;
  }

  @media (min-width: $desktop-width) {
    min-height: 455px;
    max-width: 30%;
    padding-top: 172px;
    padding-bottom: 0;
    padding-left: 79px;
    padding-right: 5px;
    border: none;
  }
}

.video__info {
  @include reset-indent();
  @include font-basic($font-size--petty);
  padding-bottom: 41px;
  text-align: left;

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--small, $line-height--large);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
  }
}

.video__order-button {
  @include font-heading($font-size--middle);
  width: 100%;

  @media (min-width: $tablet-width) {
    @include font-heading();
  }
}
