.video {
  margin-bottom: 58px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.video__container {
  border: 1px solid $basic-ultra-light;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    border: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    position: relative;
    border: 1px solid $basic-ultra-light;
  }
}

.video__title {
  @include reset-indent();
  @include font-heading-basic();
  position: relative;
  padding-top: 21px;
  padding-bottom: 26px;
  padding-left: 87px;
  padding-right: 30px;
  text-align: left;
  box-sizing: border-box;

  &::before {
    position: absolute;
    content: "";
    width: 32px;
    height: 22px;
    top: 30%;
    left: 30px;
    background-color: $basic-accent;
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 25px;
    padding-right: 40px;
    border-right: 1px solid $basic-ultra-light;
    border-left: 1px solid $basic-ultra-light;
    border-top: 1px solid $basic-ultra-light;

    &::before {
      top: 45%;
      left: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 12%;
    right: 55px;
    width: 30%;
    border: none;

    &::before {
      top: 8%;
      left: 27%;
    }
  }
}

.video__wrapper {
  position: relative;
  height: 150px;
  margin-bottom: 35px;
  // padding: 0 0 5% 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 0;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    height: auto;
  }
}

.video__img {
  @include image-basic();
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  top: 0;
  left: 0;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0;
  width: 100px;
  height: 50px;
}

.video__inner {
  padding-top: 0;
  padding-bottom: 33px;
  padding-left: 34px;
  padding-right: 34px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 45px;
    padding-right: 40px;
    border-bottom: 1px solid $basic-ultra-light;
    border-right: 1px solid $basic-ultra-light;
    border-left: 1px solid $basic-ultra-light;
  }

  @media (min-width: $desktop-width) {
    max-width: 30%;
    padding-top: 172px;
    padding-bottom: 60px;
    padding-left: 80px;
    padding-right: 40px;
    border: none;
  }
}

.video__info {
  @include reset-indent();
  @include font-basic($font-size--petty);
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
  }
}
