.week-product {
  position: relative;
  padding-top: 30px;
  padding-bottom: 43px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    background-image: url("../img/zigzag-line.svg");

    @media (min-width: $tablet-width) {
      height: 17px;
      background-image: url("../img/zigzag-line-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.week-product__container {
  @media (min-width: $desktop-width) {
    position: relative;
    padding-bottom: 95px;

    &::after {
      position: absolute;
      content: "";
      width: 1050px;
      height: 23px;
      bottom: 0;
      left: 50px;
      background-image: url("../img/zigzag-line-desktop.svg");
    }
  }
}

.week-product__title-inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    flex-direction: row-reverse;
    z-index: 10;
    top: 61px;
    left: 95px;
  }
}

.week-product__title {
  @include reset-indent();
  @include font-heading($font-size--basic, $line-height--middle, $basic-accent);
  padding-top: 5px;
  padding-bottom: 17px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100px;
    padding-bottom: 10px;
    padding-right: 25px;
    text-align: center;
    line-height: $line-height--little;
  }

  @media (min-width: $desktop-width) {
    margin-right: 30px;
  }
}

.week-product__subtitle {
  @include reset-indent();
  @include font-heading();
  order: -1;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--huge, $line-height--big);
  }

  @media (min-width: $desktop-width) {
    @include font-heading($font-size--gigant, $line-height--huge);
  }
}

.week-product__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    // grid-template-rows: min-content min-content min-content;
    column-gap: 58px;
    row-gap: 10px;
  }
}

.week-product__info {
  @include reset-indent();
  min-width: 260px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include font-basic($font-size--basic, $line-height--large);
    max-width: 291px;
    margin-top: -13px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include grid-padding-desktop();
    padding-top: 165px;
    max-width: 100%;
    margin-top: -10px;
  }
}

.week-product__description {
  @include reset-list();
  @include font-basic($font-size--small, $line-height--middle);
  display: grid;
  grid-template-columns: 99px 1fr;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 98px 1fr;
    padding-top: 12px;
  }

  @media (min-width: $desktop-width) {
    @include grid-padding-desktop();
    align-content: center;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    align-self: start;
    margin-top: -10px;
  }
}

.week-product__option {
  grid-column: 1/2;
  padding-top: 8px;
  padding-bottom: 11px;
  padding-right: 10px;
  border-bottom: 1px solid $basic-ultra-light;

  @media (min-width: $tablet-width) {
    padding-top: 6px;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    padding-bottom: 12px;
  }
}

.week-product__value {
  @include reset-indent();
  grid-column: 2/-1;
  padding-top: 8px;
  padding-bottom: 11px;
  padding-right: 10px;
  border-bottom: 1px solid $basic-ultra-light;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    padding-bottom: 12px;
  }
}

.week-product__wrapper {
  display: block;
  position: relative;
  min-width: 260px;
  min-height: 315px;
  max-height: 404px;
  padding: 0 0 58% 0;
  margin-bottom: 25px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    min-width: 334px;
    height: 404px;
    margin-bottom: 0;
    padding: 0;
    grid-column: 2/-1;
    grid-row: 1/-1;
  }

  @media (min-width: $desktop-width) {
    min-height: 636px;
    min-width: 525px;
  }
}

.week-product__img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
}

.week-product__order {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    @include grid-padding-desktop();
  }
}

.week-product__price {
  @include reset-indent();
  @include font-heading($font-size--basic, $line-height--basic);
  padding-bottom: 24px;
  // padding-right: 5px;

  @media (min-width: $tablet-width) {
    @include font-heading($font-size--large, $line-height--basic);
    padding-bottom: 33px;
    margin-left: -2px;
  }
}

.week-product__currency {
  display: inline-block;
  align-items: middle;
}

.week-product__button {
  width: 100%;
}
