/* Global */
@import "global/fonts.scss";
@import "global/global.scss";
@import "global/mixins.scss";
@import "global/variables.scss";

/* Gride */
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/page-footer.scss";


/* Blocks */
@import "blocks/container.scss";
@import "blocks/main-navigation.scss";
@import "blocks/logo-header.scss";
@import "blocks/search.scss";
@import "blocks/basket.scss";
@import "blocks/add-part.scss";
@import "blocks/promo.scss";
@import "blocks/week-product.scss";
@import "blocks/features.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/contacts.scss";
@import "blocks/footer-logo.scss";
@import "blocks/social.scss";
@import "blocks/production.scss";
@import "blocks/intro.scss";
@import "blocks/order-form.scss";
@import "blocks/type-product.scss";
@import "blocks/color-product.scss";
@import "blocks/user-info.scss";
@import "blocks/user-phone.scss";
@import "blocks/user-email.scss";
@import "blocks/user-addition.scss";
@import "blocks/catalog.scss";
@import "blocks/product.scss";
@import "blocks/video.scss";
@import "blocks/modal.scss";
@import "blocks/menu-button.scss";
@import "blocks/button.scss";
